.topWrap {
  padding: 0 1.57rem 0 1.57rem;
}

.carImage {
  width: 300px;
  height: 140px;
  margin: auto;
}

.carImage img {
  width: 100%;
  height: auto;
}

.carName {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-top: 30px;
}

.charge {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  opacity: 0.7;
}

.harrypotterBinding {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
  position: relative;
}

.harrypotterBinding img {
  position: absolute;
  top: 3px;
  left: 135px;
}
