.cover {
  padding: 1.5rem 2.5rem 2rem 2.5rem;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 300;
  background: #fff;
  width: 100%;
  height: 100vh;
  animation: slideIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.smartkeyHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.headerTitle {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.smartKeyCloser img {
  width: 100%;
  height: auto;
  animation: slideOut 0.5s ease-in-out;
}

.carInfoWrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}
.carBrand{
  color: var(--billita-blue);
  font-weight: bold;
}
.carEtc {
  opacity: 0.6;
  font-size: 0.8rem;
  margin-top: 0.4rem;
}

.carName{
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.carImageWrap{
  width: 100%;
  height: 100%;
}

.carImageWrap img {
  width: 100%;
  height: auto;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.notice {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.8;
  margin-top: 1rem;
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  position: absolute;
  border-radius: 100%;
  width: 62px;
  height: 62px;
  background: #0067df;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px #01c5df;
  right: 8vw;
  top: 2.3vh;
  z-index: 999;
}


@keyframes slideIn {
  0% {
    transform: translateY(100%);
    display: none;
  }
  100% {
    transform: translateY(0);
    display: block;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    display: block;
  }
  100% {
    transform: translateY(100%);
    display: none;
  }
}