.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  position: fixed;
  border-radius: 100%;
  width: 62px;
  height: 62px;
  background: #0067df;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px #01c5df;
  bottom: 340px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  transition: all 0.5s ease-in-out;
}

.close {
  transition: all 0.3s ease-in-out;
  display: none;
}

.topWrap {
  padding: 2rem 1.57rem 0 1.57rem;
}

.carImage {
  width: 280px;
  height: 180px;
  object-fit: contain;
  margin: auto;
}

.carImage img {
  width: 100%;
  height: auto;
}

.carName {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.charge {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  opacity: 0.7;
}

.harrypotterBinding {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
  align-items: center;
}

.imgBinding {
  width: 0.8rem;
  height: 0.8rem;
  object-fit: contain;
  margin-right: 0.3rem;
  margin-top: 0.05rem;
}

.harrypotterBinding img {
  width: 100%;
  height: auto;
}

.middleWrap {
  margin-top: 2rem;
  padding: 0 2rem 0 2rem;
}

.subWrap {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.fare {
  font-size: 0.9rem;
  align-items: center;
  font-weight: bold;
  display: flex;
}

.description {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 0.65rem;
  background: #f5f5f5;
  color: #0067df;
  border-radius: 5px;
  border: 1px solid #0067df;
  text-align: center;
  opacity: 0.8;
}

.content {
  font-size: 0.85rem;
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

.location {
  font-size: 0.8rem;
  opacity: 0.6;
  margin-bottom: 0.3rem;
  /* text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.4px; */
  align-items: center;
  display: flex;
}

.arrowWrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.arrow {
  position: absolute;
  right: 0;
  top: 0;
}

.kakaopay {
  font-size: 0.85rem;
  opacity: 0.5;
}

.resultTxt {
  font-size: 0.85rem;
  color: #0067df;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
