.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  position: absolute;
  border-radius: 100%;
  width: 62px;
  height: 62px;
  background: #0067df;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px #01c5df;
  right: 8vw;
  top: 2.3vh;
  z-index: 999;
}

.topWrap {
  padding: 0 1.57rem 0 1.57rem;
}

.carImage {
  width: 300px;
  height: 140px;
  margin: auto;
}

.carImage img {
  width: 100%;
  height: auto;
}

.carName {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-top: 30px;
}

.charge {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  opacity: 0.7;
}

.harrypotterBinding {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
  position: relative;
}

.harrypotterBinding img {
  position: absolute;
  top: 3px;
  left: 135px;
}

.middleWrap {
  margin-top: 2rem;
  padding: 0 1.57rem 0 1.57rem;
}

.subWrap {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.fare {
  font-size: 0.7rem;
  opacity: 0.8;
  align-items: center;
  display: flex;
}

.description {
  font-size: 0.4rem;
  opacity: 0.6;
}

.content {
  font-size: 0.75rem;
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

.location {
  font-size: 0.7rem;
  opacity: 0.6;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 0.4px;
  align-items: center;
  display: flex;
}

.arrowWrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.arrow {
  position: absolute;
  right: 0;
  top: 0;
}

.kakaopay {
  font-size: 0.75rem;
  opacity: 0.5;
}
