.wrapper {
  padding: 0 1.57rem 0 1.57rem;
}

.carName {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 3.5rem;
}

.initialQ {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 1rem;
}

.initialAnswerWrap {
  font-size: 0.8rem;
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: flex-end;
}
.initialAnswer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.hr {
  width: 4rem;
  background-color: var(--billita-blueHighlight);
  border: 0;
  height: 1px;
  margin: 2rem 0;
}

.qWrap {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.lastCheck {
  opacity: 0.7;
  font-size: 0.9rem;
}

.yesWrap {
  display: flex;
  gap: 1.2rem;
}

.checkWrap{
  width: 100%;
  height: 100%;
}
.checkWrap img {
  width: 100%;
  height: auto;
}

.answer {
  opacity: 0.6;
  font-size: 0.9rem;
}