.bannerWrap {
  width: 100%;
  position: fixed;
  bottom: -4rem;
  z-index: 80;
  min-height: 20rem;
  background: linear-gradient(180deg, #ffffff00 0%, #ffffff 100%);
  transition: all 0.3s ease-in-out;
}

.active {
  bottom: 2rem;
  transition: all 0.3s ease-in-out;
}

.bannerContents {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerContents .bannerLeft {
  width: 40%;
}
.bannerLeft h3 {
  font-size: 1.2rem;
  font-family: var(--billita-hangul);
  font-weight: 600;
}
.brandImage {
  width: 90%;
  height: 2rem;
}
.brandImage img {
  width: 100%;
  height: auto;
}
.bannerContents .bannerRight {
  width: 60%;
  height: 5rem;
}
.bannerRight img {
  width: 100%;
  height: auto;
}

.bannerOverlay {
  width: 100%;
  position: relative;
  z-index: 90;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 1rem 1rem 0 0;
  height: 12rem;
  padding: 1rem 2rem;
  background-color: var(--billita-blueHighlight);
  background-blend-mode: multiply;
  -webkit-filter: saturate(1.8);
  opacity: 0.6;
}

.bannerTopText {
  color: white;
}
.bannerText {
  color: white;
  font-weight: 300;
}
