.sectionWrap {
  padding: 0 1.57rem 0 1.57rem;
  display: flex;
}

.cardsWrap {
  display: flex;
}

.spotCardsWrap {
  width: 100%;
  gap: 1rem;
  flex-direction: column;
  display: flex;
}

.spotCardImg {
  display: flex;
  background-color: yellowgreen;
  border-radius: 15px;
  position: relative;
  width: 100%;
  height: 20rem;
  flex-direction: column-reverse;
  box-shadow: 10px 24px 54px rgba(3, 2, 36, 0.06);
}
.profile {
  width: 1.7rem;  
}
.profile img {
  width: 100%;
}
.cardView img {
  position: absolute;
  width: 1.7rem;
  top: -4px;
}
.spotCardInfo {
  background-color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 15px 15px 0 0;
  color: lightgrey;
  line-height: 2rem;
  z-index: 50;
}

.cardInfoTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.writer {
  display: flex;
}
.writersName {
  margin-left: 0.5rem;
}
.cardView {
  display: flex;
  width: 35%;
  justify-content: space-around;
  position: absolute;
  right: 0;
  top: 5px;
}
.viewCount {
  line-height: 1.4rem;
  margin-left: 0.8rem;
}
.likeHeart {
  margin-right: 0.8rem;
}

.spotName {
  color: #0e0e0e;
  margin-left: 0.2rem;
  font-weight: 500;
  font-size: 0.95rem;
}

.minutes {
  color: var(--billita-blueHighlight);
}