.sectionWrap {
  padding: 0 1.57rem 0 1.57rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sectionTitle {
  font-size: 1.2rem;
  font-family: var(--billita-hangul);
  font-weight: 500;
  display: flex;
  justify-content: start;
}

.overflowWrap {
  overflow-x: scroll;
}

.overflowWrap::-webkit-scrollbar {
  display: none;
}

.twoIconsWrap {
  display: flex;
  gap: 2rem;
}

.eachIconhWrap {
  align-items: center;
}

.cardsWrap {
  display: flex;
  gap: 1rem;
}

.card {
  width: 17rem;
  height: 11rem;
  background: #FFFFFF;
  box-shadow: 10px 24px 54px rgba(3, 2, 36, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
}

.saveToggle {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 194, 255, 0.03);
  box-shadow: 0px 4px 4px rgba(255, 73, 116, 0.29);
}

.saveToggle img {
  position: absolute;
  top: 8px;
  right: 8px;
}

.carTitle {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.greySubTitle {
  margin-top: 4px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #AAAAAA;
}

.scrollDotWrap {
  display: flex;
  margin-top: 1rem;
  position: absolute;
  left: 11rem;
  top: 580px;
  gap: 0.4rem;
}

.scrollDot{
  width: 0.6rem;
  height: 0.6rem;
  background-color: aqua;
  border-radius: 50%;
}