.scrollToTop {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 300;

}


.slideDown {
  margin: 0 auto;
  margin-bottom: -2rem;
  opacity: 0.8;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--billita-blue);
  box-shadow: 0px 4px 5px 2px #01c5df;
  filter: contrast(175%) brightness(1.5);
  position: relative;
  top: -60px;
  z-index: 300;
  transform: rotate(180deg);
}

.slideDown img {
  width: 0.9rem;
  height: 0.9rem;
  transition: 0.5s;
}