/* 화면 전환되는 원형 버튼 */
.slideDownBtn {
  margin: 0 auto;
  margin-bottom: -2rem;
  opacity: 0.8;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--billita-blue);
  box-shadow: 0px 4px 5px 2px #01c5df;
  position: relative;
  filter: contrast(175%) brightness(1.5);
  top: 0px;
  z-index: 303;
  transition: top 0.5s;
}

.slideDownBtn.active {
  top: -66px;
  transition: top 0.5s;
}

.slideDownBtn img {
  width: 0.9rem;
  height: 0.9rem;
  transition: 0.5s;
}
.slideDownBtn.active img {
  transform: rotate(180deg);
  transition: 0.5s;
}
