.brandWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0.5rem;
}

.brandWrap:first-child {
  margin-left: 0;
}
.circlePad { 
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #F5F6F8;
  position: relative;
  border: 5px solid var(--billita-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.circlePad img {
  width: 40%;
  height: auto;
}

.brandName {
  margin-top: 1rem;
  text-align: center;
  color: var(--billita-primary);
  font-weight: bold;
  opacity: 0.6;
}

.circlePad:hover {
  background-color: var(--billita-white);
  border: 5px solid var(--billita-blueHighlight);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

