
.circlePad { 
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #F5F6F8;
  position: relative;
  border: 1rem solid #FFFFFF;
}

.circlePad img {
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
}

.brandName {
  text-align: center;
  color: var(--billita-gray);
  font-weight: 500;
}

.circlePad .active {
  border: 1px solid var(--billita-blue);
}
