.brandNav {
  display: flex;
  padding: 0 1rem;
  overflow-x: scroll;
  /* animation: slideIn 0.5s ease-in-out; */
  margin-bottom: 2rem;
}

.brandNav::-webkit-scrollbar {
  display: none;
}

@keyframes slideIn {
  0% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0%);
  }
}

