.drawerOverlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.drawerContainer {
  width: 100%;
  height: 70vh;
  background-color: white;
  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 101;
  padding: 2rem;
  box-shadow: 0px 5px 10px 10px #01c5df;
  /* --webkit-overflow-scrolling: touch; */
  /* animation: slideUp 0.5s ease-in-out; */
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid #01c5df; */
  opacity: 0.8;
}

.drawerTitle {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--billita-black);
}

.drawerBody {
  
}

.drawerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: thin solid #33333320;
}

.open {
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

.close {
  bottom: -80vh;
  transition: all 0.5s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.drawerItemText {
  width: 60%;
}
.drawerItemTitle {
  font-size: 1.0rem;
  font-weight: bold;
  color: var(--billita-black);
}
.drawerLocation {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: var(--billita-black);
}
.drawerLocation img {
  margin-right: 0.5rem;
}
.battery {
  margin-top: 1rem;  
  width: 100px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #01c5df30;
  display: flex;
}

.battery .icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.imgWrap {
  width: 120px;
  height: 60px;
}

.imgWrap img {
  width: 100%;
  height: auto;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--billita-black);
}
.distancePrice {
  font-size: 0.7rem;
  font-weight: bold;
}
.distancePrice span {
  font-size: 0.5rem;
  padding: 0.1rem 0.3rem;
  color: white;
  background-color: gray;
  border-radius: 5px;
  font-weight: bold;
}

.badge {
  font-size: 0.6rem;
  padding: 0.1rem 0.3rem;
  color: white;
  background-color: var(--billita-blue);
  border-radius: 5px;
  width: fit-content;
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  filter: contrast(175%);
  opacity: 0.6;
}

.drawerItemImg {
  position: relative;
}