.wrap {
  position: relative;
  z-index: 200;
}

.wrap.open {
  animation: slideIn 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.close {
  animation: slideOut 0.5s ease-in-out;
}

.topWrap {
  display: flex;
  padding: 10vw 10vw 3vh 10vw;
  /* margin-top: 1rem; */
  background-color: #ffffff;
}

.greeting {
  font-size: 1.3rem;
  margin-top: 3vw;
}
.bluehighlightbtn {
  margin-top: 4vh;
  color: var(--billita-white);
  background-color: var(--billita-blueHighlight);
  font-size: 1rem;
  font-weight: bold;
  display: block;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.highlight {
  font-size: 0.5rem;
  color: var(--billita-blueHighlight);
}

.backBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  position: absolute;
  border-radius: 100%;
  width: 62px;
  height: 62px;
  background: #0067df;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px #01c5df;
  right: 40px;
  top: 40px;
  z-index: 999;
}

.grayWrapper {
  background-color: #d6d6d650;
}
.paddingWrap {
  padding: 4vh 10vw 4vh 10vw;
}
.reserveWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textWrap {
  width: 70%;
}

.carName {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 0.7rem;
}

.period {
  font-size: 0.9rem;
  opacity: 0.5;
}
.imgWrap {
  width: 30%;
  /* overflow: hidden; */
}

.imgWrap img {
  width: 100%;
  height: auto;
}

.menuWrap {
  padding: 3vh 10vw 4vh 8vw;
  background-color: white;
  z-index: 200;
  position: relative;
}

.menuUl {
  list-style: none;
  font-size: 0.9rem;
}

.menuUl li {
  padding: 15px 10px;
  opacity: 0.6;
  margin: 5px 0px;
}

.bottomMenuWrap {
  padding: 2rem 0 10rem 2rem;
  background-color: white;
  z-index: 200;
  position: relative;
}
.bottomMenuWrap li {
  padding: 7px;
}

.blueMenu {
  color: var(--billita-blueHighlight);
  font-size: 0.7rem;
  font-weight: bold;
  list-style: none;
}

.nonRentNotice {
  opacity: 0.5;
  padding: 4vh 10vw 4vh 10vw;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
