/* 예약 취소 안내 */


.modalWrap {
  padding: 3rem 2rem;
}
.modalTitle {
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

.greyText {
  font-weight: bold;
  opacity: 0.6;
  margin-bottom: 0.4rem;
  font-zie: 0.9rem;
}

.redText {
  color: #f52d56;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 6px;
  font-size: 0.9rem;
}

.ulWrapper ul {
  font-size: 0.8rem;
  opacity: 0.6;
}

.ulWrapper ul li {
  padding: 4px;
  margin-left: 1rem;
}
/* 예약 취소 안내 끝 */


/* 예약결제 안내 */
.drawerContentWrap {
  margin: 1.5rem 0;
}

.drawerContentBinding {
  display: flex;
  margin: 0.3rem 0;
  font-size: 0.9rem;
}
.blueHighlight {
  color: var(--billita-blueHighlight);
  font-weight: bold;
  width: 30%;
}

.lastLine{
  opacity: 0.5;
  font-size: 0.9rem;
}
/* 예약결제 안내 끝*/
