.cover {
  padding: 1.5rem 2.5rem 2rem 2.5rem;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 300;
  background: #fff;
  width: 100%;
  height: 100vh;
  animation: slideIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.smartkeyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.headerTitle {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.smartKeyCloser img {
  width: 100%;
  height: auto;
  animation: slideOut 0.5s ease-in-out;
}

.carInfoWrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}
.carBrand {
  color: var(--billita-blue);
  font-weight: bold;
}
.carEtc {
  opacity: 0.6;
  font-size: 0.8rem;
  margin-top: 0.4rem;
}

.carEtc .carPlate {
  font-weight: bold;
}

.carEtc .battery {
  font-size: 0.7rem;
  margin-top: 3px;
}

.carName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.carImageWrap {
  width: 100%;
  height: 100%;
}

.imgWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.imgWrap img {
  width: 80%;
  height: auto;
}

.carImageWrap img {
  width: 100%;
  height: auto;
}
.selectedMessage{
  width: 80%;
  margin: 0 auto;
}
.statusMessage {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 0.65rem;
  background: #f5f5f5;
  color: #0067df;
  border-radius: 5px;
  border: 1px solid #0067df;
  text-align: center;
  opacity: 0.8;
}

.defaultMessage{
  color: var(--billita-blue);
  font-size: 0.8rem;
  text-align: center;
}

.toggleDisplay {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  color: #454545;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  /* cursor: pointer; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* 
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */

.open {
  background-color: #0067df;
}
.slider.open:before {
  -webkit-transform: translateX(66px);
  -ms-transform: translateX(66px);
  transform: translateX(66px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
} */

.notice {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.8;
  margin-top: 1rem;
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  position: absolute;
  border-radius: 100%;
  width: 62px;
  height: 62px;
  background: #0067df;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px #01c5df;
  right: 8vw;
  top: 2.3vh;
  z-index: 999;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    display: none;
  }
  100% {
    transform: translateY(0);
    display: block;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    display: block;
  }
  100% {
    transform: translateY(100%);
    display: none;
  }
}
