.sectionWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sectionTitle {
  font-size: 1.2rem;
  font-family: var(--billita-hangul);
  padding: 0rem 0 0 1.57rem ;
  font-weight: 500;
  margin-bottom: -1rem;
}

.overflowWrap {
  overflow-x: scroll;
}

.overflowWrap::-webkit-scrollbar {
  display: none;
}

.twoIconsWrap {
  display: flex;
  gap: 2rem;
}

.eachIconhWrap {
  align-items: center;
}

.cardsWrap {
  padding: 2rem 1.57rem;
  display: flex;
}

.scrollDotWrap {
  display: flex;
  margin-top: 1rem;
  position: absolute;
  left: 11rem;
  top: 580px;
  gap: 0.4rem;
}

.scrollDot{
  width: 0.6rem;
  height: 0.6rem;
  background-color: aqua;
  border-radius: 50%;
}