.card {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(3, 2, 36, 0.2);
  border-radius: 0.7rem;
  padding: 1rem 3.5rem 1rem 2rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.carWrap img{
  margin-left: -1rem;
}

.saveToggle {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 194, 255, 0.03);
  box-shadow: 0px 4px 4px rgba(255, 73, 116, 0.29);
}

.saveToggle img {
  position: absolute;
  top: 8px;
  right: 8px;
}

.carTitle {
  font-weight: 600;
  font-size: 1.1rem;
}

.greySubTitle {
  font-size: 0.8rem;
  margin-top: 4px;
  font-weight: 700;
  color: #AAAAAA;
}