.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  padding: 0;
  margin: 0;
  box-shadow: 0 -3px 0.3em 3px rgba(139, 139, 139, 0.08);
  background-color: var(--color-white);
}
