@import url("./common/font.css");

:root {
  /* common color */ 
  --billita-white: #ffffff;
  --billita-black: #1e1e1e;
  --billita-blue: #0071ff;
  --billita-gray: #d9d9d9;
  --billita-primary: #070b0b;
  --billita-secondary: #ff4974;
  --billita-blueHighlight: #00c4df;

  /* font */
  --billita-hangul: "Noto Sans KR", sans-serif;
  --billita-dongle: "Dongle", sans-serif;

  /* --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  ); */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: var(--billita-hangule);
  font-weight: 100;
}

main {
  margin-top: 73px;
}

main#carDetail {
  margin-top: 2.5rem;
}

section {
  padding: 0 1.57rem;
  margin: 0.8rem 0 1.2rem 0;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  font-size: 0.75rem !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root input {
  text-align: center !important;
}

/* .MuiTypography-root {
  font-size: 0.75rem !important;
  color: var(--billita-blueHighlight) !important;
} */



/* slide panel */
.some-custom-overlay-class {
  z-index: 1000;
  overflow: hidden;
  margin: 0px !important;
  padding: 0px !important;
}

.slide-pane__content {
  overflow: hidden !important;
  height: none;
  margin: 0px !important;
  padding: 0px !important;
}
